.skill-section {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.skill-list {
  justify-content: center;
  flex-direction: row;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.icon-skill {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: 80px;
  color: rgb(186, 41, 183);
  transition: transform 0.3s ease;
}

.icon-skill:hover {
  transform: scale(1.2);
}
