body {
  margin: 0;
}

body.light {
  background-color: antiquewhite;
  color: #000;
  --header-background: antiquewhite;
}

body.dark {
  background-color: #121212;
  color: #fff;
  --header-background: #121212;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--header-background);
}

.name-header {
  font-family: "Bagel Fat One";
  font-size: xx-large;
  color: rgb(69, 62, 29);
  text-decoration: none;
}

.material-symbols-outlined {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
}

#toggleMode {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.ash-pic {
  height: 100%;
  position: relative;
  z-index: 10;
}

.image-container {
  position: relative;
  height: 60%;
}

.image-border {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 9;
  padding: 0 20px;
}

.image-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -27px;
  width: 100%;
  height: 20%;
  z-index: 11;
  padding: 0 20px;
  background-color: rgb(114, 109, 109);
}

.paragraph{
    font-family: "Bagel Fat One";
    font-size: 25px;
    left: 50%;
    text-align: center;
    margin-top: 5px;
}

.icon-list{
list-style: none;  
flex-direction: row;
display: flex;
justify-content: space-between;
position: absolute;
left: 0;
right: 0;
top:40px;
padding: 0 20px;
}

.icon{
  color: black;
  font-size: 45px ;
}

.start-text-box1 {
  font-family: "Bagel Fat One";
  font-size: clamp(4rem, 2, 5vw, 3rem);
  color: #76c77d;
}

.start-text-box2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.start-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-inline: 2rem;
}

.start-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  padding-top: 1rem;
}

h1 {
  text-align: center;
  font-family: "Bagel Fat One";
  font-size: clamp(4rem, 2, 5vw, 3rem);
}

.timeline {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 40px;
  border-left: 4px solid black;
}

.school::before {
  content: "";
  position: absolute;
  left: -9px;
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 0;
}

.school {
  position: relative;
  margin: 30px 0;
  margin: 30px 0;
  padding-left: 25px;
  opacity: 0; /* Start unsichtbar */
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.school h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #76c77d;
}

.school p {
  margin: 5px 0 0 0;
  color: #333;
}

.school.show {
  opacity: 1;
  transform: translateY(0);
}

@media (width >= 700px) {
  .start-page-container {
    flex-direction: row-reverse;
    width: 70%;
    padding-top: 0rem;
    margin: auto;
  }
  .start-text-box1 {
    font-size: 3rem;
  }
}
