body {
  margin: 0;
  padding-top: 80px;
}

body.light {
 background: #db93bc;
background: linear-gradient(33deg,rgba(219, 147, 188, 1) 19%, rgba(250, 235, 215, 1) 61%);
}

body.dark {
background: #000000;
background: linear-gradient(128deg,rgba(0, 0, 0, 1) 39%, rgba(120, 171, 120, 1) 92%);
}

#toggleMode {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}



