body.light {
  --color-text: black;
  --color-background: #db93bc;
  background: radial-gradient(
    circle,
    rgba(219, 147, 188, 1) 44%,
    rgba(250, 235, 215, 1) 87%
  );
}

body.dark {
  --color-background: #93b6db;
  --color-text: white;
  background: radial-gradient(
    circle,
    rgba(147, 182, 219, 1) 0%,
    rgba(61, 58, 102, 1) 60%
  );
}
/* change animation background */

body {
  margin: 0;
  transition: background-color 1s ease;
  padding-top: 80px;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  text-align: center;
  font-family: "Bagel Fat One";
}

#toggleMode {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
